@import '../../styles/variables.scss';

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;

    cursor: pointer;
    transition: background-color 0.5s ease;
    
  
    &:hover {
      opacity: 0.9;
      border-bottom: solid 1px $light-color;
      border-right: solid 1px $light-color;
    }
  }

  .danger {
    background-color: $primary-color;
    color: $dark-color;
    
  }
  
  .secondary {
    background-color: $accent-color;
    color: $dark-color;
  }
  
  .primary {
    background-color: $light-color;
    color: $primary-color;
  }
  
  .success {
    background-color: green;
    color: white;
  }

  