@import "@/styles/variables";



.textoImagenContainer {
  padding: $spacing-6;
  margin-bottom: $spacing-4;
  
}

.textoImagenCol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.titulo {
  text-align: center;  
  font-size: 2.5rem;
  font-weight: 900;
  padding-bottom: $spacing-7;
  color: $primary-color;
  padding-top: $spacing-3;


}

.texto {
  font-size: 1rem;
}

.imagen{
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.estiloImagenButton{
  background-color: $accent-color;
}


